:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /* --title-color: #4a4a4a;
  --text-color: #555;
  --text-color-alt: #999;
  --bg-color: #fff;
  --bg-color-alt: #e9ecef;
  --border-color: #f1f1f1; */
  --bg-black-900:#f2f2fc;
  --bg-black-100:#fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;



  /*========== Font and typography ==========*/
  --roboto-font: 'Roboto', sans-serif;
  --mono-font: 'Roboto Mono', monospace;

  --fs-h1: 2.75rem;
  --fs-h2: 2.25rem;
  --fs-lg: 1.125rem;
  --fs-base: 1rem;
  --fs-sm: 0.875rem;
  --fs-xs: 0.75rem;

  /*========== Font Weight ==========*/
  --medium: 500;
  --semibold: 600;
  --bold: 700;
}
.style-switcher
{
  position: fixed;
  right: 0;
  top: 60px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--bg-black-50);
  background: var(--bg-black-100);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}
.style-switcher.open
{
  transform: translateX(-25px);
}
.style-switcher .s-icon
{
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  border: 1px solid var(--bg-black-50);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
}
.style-switcher .s-icon i
{
  line-height: 40px;
}
.style-switcher .style-switcher-toggler
{
  top: 0;
}
.style-switcher .day-night
{
  top: 55px;
}
.style-switcher h4
{
  margin: 0 0 10px;
  color: var(--text-black-700);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.style-switcher .colors
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.style-switcher .colors span
{
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.style-switcher .color-1
{
  background: #6320aa ;
}
.style-switcher .color-2
{
  background: #5c6793;
}
.style-switcher .color-3
{
  background: #94b3b0;
}
.style-switcher .color-4
{
  background: #2EC4B6;
}
.style-switcher .color-5
{
  background: #F7567C;
}